.register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    90deg, 
    #2b0d2b, 
    #6d2a46);
  overflow-y: auto;
  padding: 40px 0;
  transition: transform 0.25s ease;
}

.register-card {
  width: 100%;
  max-width: 480px;
  padding: 40px 50px;
  border-radius: 45px;
  background: linear-gradient(
    90deg, 
    rgba(255, 194, 194, 0.18),
     #936480);
  backdrop-filter: blur(12px);
  text-align: center;
  color: white;
  transition: transform 0.25s ease;
}

.title {
  font-family: "Noto Serif Ethiopic", serif;
  font-size: 42px;
  font-weight: 700;
  margin-top: -10px; 
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;  
}

select {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background: #fadde8;
  color: #2b0d2b;
  font-size: 15px;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #6d2a46;
  pointer-events: none;
  font-size: 16px;
}


label {
  font-weight: 400;
  font-size: 1rem;
  color: #2b0d2b; 
  margin-bottom: 6px;
  text-align: left;

}

/* Input feild */
input {
  width: 100%;
  padding: 15px;
  border-radius: 50px !important;
  border: none;
  background: #fadde8;
  color: #2b0d2b;
  font-size: 15px;
  text-align: left;
  outline: none;
  box-sizing: border-box;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

input::placeholder {
  color: #6d2a46;
  opacity: 0;
  transition: 0.2s ease;
}

input:focus::placeholder {
  opacity: 0.7;
}

/* Register button */
.Register-btn {
  width: 70%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(
    90deg, 
    #2b0d2b,
    #6d2a46);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
}

.Register-btn:hover {
  opacity: 0.8;
}

.login-text a {
  color: #59213e;
  text-decoration: underline;
  font-weight: 600;
  transition: 0.25s ease;
}