.login-wrapper {
  min-height: 100vh;
  background: linear-gradient(90deg, #2b0d2b, #6d2a46);
  display: flex;
}

.login-card {
  width: 100%;
  padding: 45px;
  border-radius: 45px;
  background: linear-gradient(
    90deg,
    rgba(255, 194, 194, 0.18),
    #936480
  );
  backdrop-filter: blur(12px);
  color: white;
  text-align: left; 
}

.title {
  font-family: "Noto Serif Ethiopic", serif;
  font-size: clamp(28px, 6vw, 42px);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  color: #f8e7f2;
}

.form-control {
  height: 50px;
  border-radius: 100px !important;
  background: linear-gradient(90deg, #2b0d2b, #6d2a46);
  color: white;
  border: none;
  outline: none;
  box-shadow: none !important;
  color: #ffffff !important;
}

.login-btn {
  margin: 20px auto 0;
  padding: 14px 0;
  border: none;
  border-radius: 50px;
  background: #F8F6F7;
  color: #3a0f2a;
  font-size: 18px;
  font-weight: 700;
  display: block;
}